.policy__main-item {
    margin-bottom: 3rem;
    scroll-margin-top: 120px;
}

.anchor-link {
    cursor: pointer;
}

.anchor-link.active {
  color: #3a6ecf; /* highlight color */
  font-weight: bold;
  border-left: 2px solid #3a6ecf;
}

a {
    transition:all 0.0s;
}