.about-slide.founders-slider__slide {
    flex: 0 auto;
    width: auto;
    padding-top: 10px;
    height: auto !important;
    overflow: visible !important;
}

.founders-slide__heading {
    z-index: 2;
    grid-column-gap: 6rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    inset: -5.5rem auto auto -0.5rem
}

.about-wrapper.founders-slider__list {
    justify-content: center;
    align-items: stretch;
    display: flex;
}

/* Show anything Webflow hid until “interactions” */
    [data-w-id] {
      opacity: 1 !important;
      transform: none !important;
      visibility: visible !important;
    }

    /* Fallback: if Swiper isn't running yet, don't hide slides */
    .about-slider__slide,
    .swiper-slide {
      opacity: 1 !important;
      transform: none !important;
    }

@media (max-width : 600px) {
  .swiper-wrapper.founders-slider__list.about-wrapper {
    width: 100vw !important;
  }
  .founders-slide__heading {
    padding-top: 40px ;
    padding-left: 20px;
}
  .about-wrapper.founders-slider__list {
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        text-align: left;
    }

    .about-slide.founders-slider__slide {
        flex: none
    }

    .about-slide.founders-slider__slide.v1 {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative
    }

    .about-slide.founders-slider__slide.v2 {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        position: relative
    }
}